<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroupDataInGrid.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GroupDataInGrid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GroupDataInGrid.Properties.Settings1>
            <setting name="SQLConnectionString" serializeAs="String">
                <value>Data Source=EPCH\SQLEXPRESS;Initial Catalog=UnloadRegistrDB;User ID=Acc;Password=Acc"</value>
            </setting>
        </GroupDataInGrid.Properties.Settings1>
        <GroupDataInGrid.Properties.Settings>
            <setting name="SQLConnectionString" serializeAs="String">
                <value>Data Source=ZHENYAPC\SQLEXPRESS;Initial Catalog=UnloadRegistrDB;User ID=Acc;Password=Acc</value>
            </setting>
        </GroupDataInGrid.Properties.Settings>
    </userSettings>
</configuration>